@media screen and (max-width: 1600px) {
    .consectetur .consectetur-image img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1350px) {
    .rnd {
        grid-template-columns: auto auto auto;
        gap: 20px;
    }
}

@media screen and (max-width: 1325px) {

    /*services pae css*/
    /*services plan*/
    .lorem-right {
        padding-right: 60px;
    }
}

@media screen and (max-width: 1275px) {
    /*services pae css*/
    /*services plan*/

    .basic-plus-pro-services {
        /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
        gap: 85px;
    }
}

@media screen and (max-width: 1230px) {
    .lorem-right {
        padding-right: 30px;
    }
}

@media screen and (max-width: 1160px) {
    .basic-plus-pro-services {
        gap: 55px;
    }

    .lorem-right {
        padding-right: 0px;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        padding: 35px 100px 64px 100px;
    }

    .welcome-content .welcome-lorem-text {
        padding-right: 60px;
    }

    .container-consectetur {
        padding: 0px 100px 73.57px 100px;
    }

    .consectetur-text {
        padding-left: 55px;
    }

    .lorem-consectetur-text {
        padding-right: 55px;
    }

    .services-plan-container {
        padding: 35px 100px 135px 100px;
    }

    .contact-us-container {
        padding: 30px 100px 93px 100px;
    }
}

@media screen and (max-width: 980px) {
    /*services pae css*/
    /*services plan*/

    .basic-plus-pro-services {
        /* grid-template-columns: 1fr; */
        gap: 30px;
    }

        /*contact us*/
        .contact-us-content {
            margin-bottom: 45px;
        }
    
        .feedback-form {
            flex-direction: column-reverse;
        }
    
        .form{
           width: 100%;
        }
        .map{
            width: 100%;
        }
}

@media screen and (max-width: 928px) {
    /*services pae css*/
    /*services plan*/

    .basic-plus-pro-services {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media screen and (max-width: 900px) {
    .container-dolor {
        padding: 60px 121px 73px 121px;
    }
}

@media screen and (max-width: 850px) {
    .rnd {
        grid-template-columns: auto auto;
        gap: 20px;
    }
}

@media screen and (max-width: 800px) {
    .welcome-content .welcome-lorem-text {
        padding-right: 20px;
    }

    .consectetur-text {
        padding-left: 20px;
    }

    .lorem-consectetur-text {
        padding-right: 20px;
    }

    .our-container {
        padding: 28.7px 100px 54px 100px;
    }

    .boxes {
        grid-template-columns: 1fr 1fr;
    }

    .box h4 {
        text-align: center;
    }

    .box p {
        text-align: center;
    }

    /*footer*/
    .footer-container {
        padding: 51px 100px 49px 100px;
        background-color: #74C69D;
    }

    /*Portfolio page css*/
    /*portfolio works*/
    .portfolio-comtainer {
        padding: 30px 100px 99px 100px;
    }

}

@media screen and (max-width: 750px) {
    .footer {
        flex-direction: column;
    }

    .at-the-rate-text {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .welcome {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .welcome .image {
        width: 100%;
    }

    .welcome-content {
        width: 100%;
        margin: 0px;
    }

    .link a {
        display: none;
    }

    #list {
        visibility: visible;
    }

    .consectetur {
        flex-direction: column;
        gap: 30px;
    }

    .consectetur-image {
        width: 100%;
    }

    .consectetur-content {
        width: 100%;
        margin: 0;
    }

    .lorem-consectetur-content {
        width: 100%;
        margin: 0;
    }

    .consectetur-text {
        padding-left: 0px;
    }

    .lorem-consectetur-text {
        padding-right: 0px;
    }

    .lorem-consectetur {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 650px) {
    .container-dolor {
        padding: 22px 20px 59.55px 20px;
    }

    .rnd {
        grid-template-columns: auto;
    }

    .our-container {
        padding: 0px 48px 39px 48px;
    }

    .footer-container {
        padding: 31px 0px;
    }

    /*Portfolio page css*/
    /*portfolio works*/

    .portfolio-comtainer {
        padding: 34px 20px 30px 20px;
    }

    .portfolio-content {
        margin-bottom: 45px;
    }

    .portfolio-image {
        margin-bottom: 27.95px;
        grid-template-columns: 1fr;
    }

    /*services pae css*/
    /*services plan*/

    .services-plan-container {
        padding: 21px 20px 68px 20px;
    }

    .basic-plus-pro-services {
        gap: 50px;
    }

    .services-plan-content {
        margin-bottom: 46px;
    }

}

@media screen and (max-width: 600px) {
    .container {
        padding: 17px 20px 40.39px 20px;
    }

    .navigation {
        margin-bottom: 32px;
    }

    .link a {
        display: none;
    }

    #list {
        visibility: visible;
    }

    .welcome {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .welcome-content {
        width: 100%;
        margin: 0px;
    }

    .welcome-content .welcome-lorem-text {
        padding-right: 0px;
    }

    .welcome .image {
        width: 100%;
    }

    .container-consectetur {
        padding: 0px 20px 60.12px 20px;
    }

    .our-telent-content {
        margin-bottom: 41px;
    }

    .boxes {
        grid-template-columns: 1fr;
        margin-bottom: 39px;
    }

    /*contact us*/
    .contact-us-container {
        padding: 36px 20px 59px 20px;
    }

    .contact-us-content {
        margin-bottom: 45px;
    }

    .feedback-form {
        flex-direction: column-reverse;
    }

    .form{
       width: 100%;
    }
    

}