* {
    margin: 0;
    padding: 0;
}


.container {
    padding: 35px 130px 82.87px 130px;
    background-color: #74C69D;
    overflow: visible;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    gap: 18px;
    align-items: center;
}

.navigation-link {
    display: flex;
}

.link {
    display: flex;
    gap: 30px;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #FFFFFF;
}

#list {
    visibility: hidden;
}

.welcome {
    display: flex;
    width: 100%;
}

.welcome-content {
    width: 50%;
    margin: 39.57px 0px;
}

.welcome-content .welcome-lorem-text {
    padding-right: 120px;
    margin-bottom: 25px;
}

.welcome-content h4 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: left;
    color: #FFFFFF;
}

.welcome-content h2 {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.welcome-content p {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.welcome-content .button button {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    padding: 13px 47.5px;
    border-radius: 4px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

.welcome .image {
    width: 50%;
}

.welcome .image img {
    width: 100%;
    height: 100%;
}

/*dropdown*/
.dropbtn {
    border: none;
    background-color: #74C69D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #033E3E;
}

/*Lorem Ipsum Dolor*/
.container-dolor {
    padding: 60px 141px 73px 141px;
}

.dolor {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.dolor-content h4 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: center;
    color: #74C69D;
}

.dolor-content h2 {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;

}

.dolor-content p {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;

}

.rnd {
    /* display: flex;
    justify-content: space-between; */
    /* gap: 68px; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;

}

.learn-more-button {
    display: flex;
    justify-content: center;
}

.learn-more-button button {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    padding: 12px 29.5px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 4px;
}

/*lorem container-consectetur*/
.container-consectetur {
    padding: 0px 130px 73.57px 130px;
}

.consectetur {
    width: 100%;
    /* background-color: #5dafaf; */
    display: flex;
}

.consectetur-image {
    width: 50%;
}

.consectetur-content {
    width: 50%;
    /* background-color: #bea42d; */
    margin: 88.22px 0;
}

.consectetur-text {
    padding-left: 110px;
}

.consectetur-content h2 {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;

}

.consectetur-content p {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;

}

.lorem-consectetur {
    width: 100%;
    /* background-color: #5dafaf; */
    display: flex;
}

.lorem-consectetur-content {
    width: 50%;
    /* background-color: #bea42d; */
    margin: 155.37px 0;
}

.lorem-consectetur-text {
    padding-right: 110px;
}

.lorem-consectetur-content h2 {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;

}

.lorem-consectetur-content p {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;

}

.consectetur-image img {
    width: 100%;
    height: 100%;
}

.consectetur-button button {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    padding: 12px 29.5px;
    border-radius: 4px;
}

.consectetur-button {
    margin-top: 16px;
}

/*our telent*/
.our-container {
    padding: 28.7px 132px 54px 132px;
}

.our-telent-content {
    margin-bottom: 45px;
}

.our-telent-content h4 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: center;
    color: #74C69D;
}

.our-telent-content h2 {
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
}

.our-telent-content p {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.our-telent-button button {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    padding: 12px 33px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 4px;
}

.our-telent-button {
    display: flex;
    justify-content: center;
}

.boxes {
    /* display: flex;
    gap:47px;
    justify-content: center; */
    /* box-shadow: 10px 10px #74C69D; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-content: space-between;
    margin-bottom: 45px;
}

.box {
    box-shadow: 10px 20px 25px gray;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 20px 25px;
}

.box h4 {
    font-family: Crimson Text;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.box p {
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.team-member-image img {
    width: 100%;
    height: 100%;
}

/*footer*/
.footer-container{
    padding: 51px 131px 49px 131px;
    background-color: #74C69D;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.social-media-icon{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.icon-image{
    width: 3%;
    height: 3%;
    padding-top: 5px;
}
.at-the-rate-text{
font-family: Work Sans;
font-size: 20px;
font-weight: 400;
line-height: 25px;
color: #FFFFFF;
}


/*Portfolio page css*/
    /*portfolio works*/

.portfolio-comtainer{
    padding: 30px 125px 99px 130px;
}  
.portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 82px;
}  
.portfolio-content h4{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: center;
    color: #74C69D;
}
.portfolio-content h2{
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
}
.portfolio-content p{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}
.portfolio-image{
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
}
.portfolio-image img{
    width: 100%;
    height: 100%;
}
.portfolio-button button{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    padding: 12px 30px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 4px;
}
.portfolio-button{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*services pae css*/
/*services plan*/

.services-plan-container{
padding: 35px 107px 135px 107px;
}
.services-plan-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 78px;
}
.services-plan-content h4{
font-family: Work Sans;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 5px;
text-align: center;
color: #74C69D;
}
.services-plan-content h2{
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
}
.services-plan-content p{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.basic-plus-pro-services{
    /* box-shadow: 10px 20px 25px gray; */
    /* background-color: rgb(172, 138, 125); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 105px;
    /* justify-content: space-between; */
}
.month{
    display: flex;
    align-items: center;
}
.month h2{
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    
}
.month p{
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    
}
.basic-services{
    box-shadow: 10px 20px 25px gray;
    padding: 46px 30px;
    /* border: 10px solid black; */
}
.basic{
    margin-bottom: 52px;
}
.dolor-rs{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dolor-rs h5{
font-family: Work Sans;
font-size: 15px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: left;

}
.basic-text p{
font-family: Work Sans;
font-size: 15px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: center;

}
.lorem-right{
    margin-bottom: 45px;
    padding-right: 76px;
}
.lorem-check{
    display: flex;
    gap: 11px;
}
.lorem-right .lorem-check p{
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
}
.lorem-right .lorem-check i{
    color: #74C69D;
}

/* 
.plus-services{
    box-shadow: 10px 20px 25px gray;
    padding: 46px 30px;
    border: 10px solid black;
}
.pro-services{
    box-shadow: 10px 20px 25px gray;
    padding: 46px 30px;
    border: 10px solid black;
} */

.service-button button{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    padding: 12px 30px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 4px;
}
.service-button{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*contact us page css*/
/*contact-us*/

.contact-us-container{
    padding: 30px 130px 93px 130px;
}
.contact-us-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 67px;
}
.contact-us-content h2{
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
}
.contact-us-content p{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.feedback-form{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 21px;
}
.form{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.map{
    display: flex;
    flex: 1;
}
.map img{
    width: 100%;
}
.feedback-form .form input[type=submit]{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 4px;
    padding: 12px 0px;
    background-color: black;
    color: #FFFFFF;
}